@import url(css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clear-fix{
    clear:both;
}
.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}
/* typography */
h1{
    font-size: 2rem;
    line-height: 2.2rem;
}
h2{
    font-size: 1.8rem;
    line-height: 2rem;
}
h3{
    font-size:1.6rem;
    line-height: 1.8rem;
}
h4{
    font-size: 1rem;
    line-height: 1.2rem;
}
h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
}
h6{
    font-size: 0.8rem;
    line-height: 1rem;
}
/* layout */


#app-row{
    background-color: white;
    height: 80px;
}
#app-row>.container{
    background-color: white;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#nav-row{
    background-color: #231f20;
}
#misc-row{
    background-color: #ffde00;
    padding: 4px 0;
}
.container{
    /* background-color: green; */
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
#boc-logo{
    height: 60px;
    float: left;
}
#app-row>.container>.wrapper{
    background-color: white;
    width: 70%;
    float: right;
    height: 100%;
}
/* #app-row>.container>.wrapper>.row:first-child{
    background-color: white;
} */
#app-row>.container>.wrapper>.row:last-child{
    background-color: white;
    padding-top: 10px;
}

#nav-lang{
    float: right;
}
#nav-lang>li{
    float: left;
    padding-left: 16px;

    
}
#nav-lang>li:hover a{
    color: #ff9d1e;
    text-decoration: underline;
}
#nav-lang>li>a{
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}
#nav li>a:hover{
    text-decoration: underline;;
}
#main-nav{
    padding-top: 5px;
    background-color: white;
    float: left;
}
#smi-container{
    background-color: white;
    float: right;
}
#main-nav ul{
    padding-top:8px;
}
#main-nav ul li{
    padding-right: 40px;
    float: left;
}
#smi-container ul li{
    float: left;
    padding-top: 5px;
    margin-left: 10px;
}
#smi-container ul li ion-icon{
    padding: 5px;
    color: white;
    font-size: 0.8rem;
}
#smi-container ul li:first-child{
    background-color:#3f4da1 ;
}
#smi-container ul li:nth-child(2){
background-color: #57a0d7;
}
#smi-container ul li:nth-child(3){
background-color: #57a0d7;
}
#smi-container ul li:last-child{
background-color: #d74527;
}
#main-nav ul li>a{
    font-size:0.9rem;
    text-decoration: none;
    color: black;
}
#main-nav ul li>a:hover{
    text-decoration: underline;
}
#nav-row nav li{
    float: left;
    z-index: 1;
    position: relative;
}
#nav-row>.container nav li a{
    position: relative;
    font-size: 00.9rem;
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
#nav-row .container nav li>a:hover{
    background-color:#ff9d1e ;
    color: black;
}
#nav-row nav li a:hover::after{

    position: absolute;
    display: block;
    content: "";
    border-top:6px solid #ff9d1e ;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;

}
#misc-row .container{
    text-align: right;
}
#misc-row .btn{
    display: inline-block;
    height: 40px;
    background-color: #107ece;
    color: white;
    border-bottom: 2PX solid #0f027b;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;

}
#misc-row .btn:hover{
    background-color: #0865a9;
}
/* footer */
footer .row{
    background-color: #808285;
}
#copyright-row{
    background-color: #ffde00;
}
#copyright-row>.container{
    padding: 16px 0;
    color: #515254;
    font-size: 0.7rem;
    text-align: center;
}
footer>.row .col{
    float: left;
    width: 25%;
    height: 215px;
    padding-top: 10px;

}
footer>.row .col h4{
    padding-bottom: 16px;
    color: white;
}
footer>.row .col nav li{
    line-height: 1.4rem;
}
footer>.row .col nav li a{
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
}
footer>.row .col nav li a:hover{
    color: #ff9d1e;
}

footer>.row .col:last-child{
    background-color: #515254;
}
footer>.row .col:last-child{
    padding-left: 15px;
   
}
footer>.row .col:last-child p{
    padding-bottom: 8px;
    font-size: 0.75rem;
    color: white;
    line-height: 1.1rem;
} 
#tel-2{
    padding-left: 23px;
}
footer>.row{
    position: relative;
    z-index: 0;
}
footer>.row::after{
    position: absolute;
    content: "";
    display: block;
    background-color: #515254;
    width: 25%;
    right:0 ;
    top: 0;
    bottom: 0;
    z-index: -1;

}
aside{
    font-weight: bold;
    background-color: #1f1f1f;
    position: fixed;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: rotate(270deg);
    right: -38px;
    bottom: 25%;
    z-index: 99999;

}
aside:hover{
    right: -31px;
}
aside a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
aside a ion-icon{
    color: black;
    font-size: 1rem;
    vertical-align: middle;  
}
#bubble-wrapper{
    position: relative;
    display: inline-block;
    background-color: #ffde00;
    border-radius: 100%;
    width: 25%;
    height: 25%;
    padding: 4px;
    transform: rotate(90deg);
}
#bubble-wrapper::before{
    display: inline-block;
    content: "";
    background-color: #ffdd0057;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, -50%);

    /* z-index: 1; */
    border-radius: 100%;
    width: 5px;
    height: 5px;
    animation-name: wave;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}

@keyframes wave{
    from{
        transform: scale(0);
        opacity: 0.5;
    }
    80%{ transform:scale(13);
        opacity: 1;

    }
    81%{
        opacity: 0;
    }
    to{opacity: 0;
       
    }
}
/* main */
main>.row:first-child,
main>.row:first-child>.container{
    height: 90px;
}
main>.row:first-child>.container>.col{
    padding: 20px 10px 0;
    height: 100%;
}
main>.row:first-child>.container>.col:first-child{
    /* background-color: red; */
    width: 75%;
    float: left;
}
main>.row:first-child>.container>.col:first-child>ul li{
    width: 20%;
    /* background-color: yellow;
    border: 1px solid black; */
    float: left;
    text-align: right;
}
main>.row:first-child>.container>.col:first-child>ul li .flag{
    height: auto;
    border: 3px solid transparent;
}
main>.row:first-child>.container>.col:first-child>ul li a{
    display: inline-block;
    text-decoration: none;
    color: #1f1f1f;
}
main>.row:first-child>.container>.col:first-child>ul li a:hover .flag{
    border: 3px solid #ffde00;
}
main .row:first-child>.container>.col:first-child>ul li .country-code{
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 0.75rem;
}
main>.row:first-child>.container .col:last-child{
    width: 25%;
    float: right;
}
main .row:first-child>.container>.col:first-child>ul li h4{
    font-size: 1.1rem;
    padding-top: 15px;
  
}
main>.row:nth-child(2)>.container>.col{
    padding-top: 20px;
    float: left;
    /* height: 200px; remove */
}
main>.row:nth-child(2)>.container>.col:first-child{
    width: 75%;
    /* background-color: red; */
}
main>.row:nth-child(2)>.container>.col:last-child{
    width: 25%;
    /* background-color: green; */
}main>.row:nth-child(2)>.container>.col:last-child svg{
    height: 30px;
}
main>.row:nth-child(2)>.container>.col:last-child>ul>li{
    display: table;
    text-transform: uppercase;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 1px solid#ccc;
    /* padding: 10px 10px 10px 20px; */
}
main>.row:nth-child(2)>.container>.col:last-child>ul{
    border-top: 10px solid #ececec;
}
main>.row:nth-child(2)>.container>.col:last-child>ul>li:hover{
    background-color: #525252;
    
}
main>.row:nth-child(2)>.container>.col:last-child>ul>li>a{
    display: table-row;
    text-decoration: none;
    color: black;
}
main>.row:nth-child(2)>.container>.col:last-child>ul>li:hover a,
main>.row:nth-child(2)>.container>.col:last-child>ul>li:hover svg{
    color: #ff9d1e;
    fill: #ff9d1e;
}
main>.row:nth-child(2)>.container>.col:last-child>ul>li>a>div{
    display: table-cell;
    padding:10px 10px 10px 20px;
    vertical-align: middle;
    line-height: 1.1rem;

}
main>.row:nth-child(2)>.container>.col:last-child>ul>li>a>div:first-child{
    width: 90%;
}
#slider{
    position: relative;
padding: 10px 10px 0;
height: 388px;
overflow: hidden;
scroll-behavior: smooth;
scroll-snap-type:block mandatory;
margin-top: 20px;
/* white-space:nowrap; */
/* width: 850px; */
}
.slide{
    position: absolute;
    background-repeat: no-repeat;
    height: 388px;
    background-size: contain;
    background-position: center;
    /* float: left; */
    width: 100%;
    display: inline-block;
    scroll-snap-align: center;

}
.slide .prev, .slide .next{
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: rgba(128, 130, 133, 0.9);
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;

}
.slide .prev:hover, .slide .next:hover{
    background-color: rgba(128, 130, 133, 0.8);
}
.slide .prev{
    left: 10px;

}
.slide .next{
    right: 10px;
}
.slide ion-icon{
    color: white;
    vertical-align: sub;
}
#slide-1{
   
    background-image: url('https://boc.lk/image/data/Banner/200Day_investment-2022-Sept-Web.jpg');
}
#slide-2{
    left:100%;
    background-image: url('https://boc.lk/image/data/Banner/Pita-pita_season-3-2022-E.jpg');
}
#slide-3{
    left: 200%;
    background-image: url('https://boc.lk/image/data/Banner/SDA-2022-09.jpeg');
}
#slide-4{
    left:300%;
    background-image: url('https://boc.lk/image/data/Banner/Top1000_2022-En_1.jpg');
}
#slide-5{
    left: 400%;
    background-image: url('https://boc.lk/image/data/Banner/green-loan-2022.jpeg');
}
#slide-6{
    left: 500%;
    background-image: url('https://boc.lk/image/data/Banner/power-branch-close-2022-En-1.jpg');
}
#slides-wrapper{
    width: 100%;
    position: relative;
    animation-name: slider-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#slider-wrapper{
    overflow: hidden;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
@keyframes slider-animation{
    0%, 10%{
        left: 0;
    }
    16%, 26%{
        left: -100%;
    }
    32%, 58%{
        left: -200%;
    }
    64%, 76%{
        left:-300%;
    }
    82%, 94%{
        left: -400%;
    }
    100%{
        left: -500%;
    }

}
main>.row:nth-child(3){
    padding: 20px 0;
}
main>.row:nth-child(3)>.container>.col{
    height: 250px;
    width: 25%;
    float: left;
    padding: 0 10px;
    background-clip: content-box;
    overflow: hidden;
}
main>.row:nth-child(3)>.container>.col:hover img{
    transform: scale(1.2);
}
main>.row:nth-child(3)>.container>.col:hover .topic{
    background-color:#ffde00;
    color:#1f1f1f ;
}
main>.row:nth-child(3)>.container>.col img{
    display: block;
    width: 100%;
    transition: transform 500ms;
}
main>.row:nth-child(3)>.container>.col>.wrapper{
    overflow: hidden;
    position: relative;
}
main>.row:nth-child(3)>.container>.col>.wrapper>.overlay{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
main>.row:nth-child(3)>.container>.col:hover .overlay{
    display: block;
}
main>.row:nth-child(3)>.container>.col .topic{
    z-index: 1;
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: #525252;
    color: white;
}
/* main>.row:nth-child(3)>.container>.col:first-child{
   background-color: red;
}
main>.row:nth-child(3)>.container>.col:nth-child(2){
    background-color: green;
}
main>.row:nth-child(3)>.container>.col:nth-child(3){
    background-color: blue;
}
main>.row:nth-child(3)>.container>.col:last-child{
    background-color: yellow;
 } */
 /* row4 */
 main>.row:last-child{
    padding-bottom: 10px;
 }
 main>.row:last-child>.container>.col{
    float: left;
 }
 main>.row:last-child>.container>.col:first-child,
 main>.row:last-child>.container>.col:last-child{
    padding: 10px;
    width: 25%;
    /* background-color: red; */
    /* height: 100px; */
    color: #1f1f1f;
    text-align: right;

 }
 main>.row:last-child>.container>.col:first-child>p:first-of-type,
 main>.row:last-child>.container>.col:last-child>p:first-of-type{
    padding-bottom: 15px;
    font-size: 18px;

 }
 main>.row:last-child>.container>.col:first-child>p:last-of-type{
    font-size: 20px;
 }
 main>.row:last-child>.container>.col:first-child>p:last-of-type ion-con{
    color: #8a8a8a;
    padding-right: 15px;
 }
 main>.row:last-child>.container>.col:nth-child(2){
    width: 50%;
    /* height: 100px; */
    /* background-color: green; */
    text-align: center;
    padding-top: 13px;
 }
 main>.row:last-child>.container>.col:last-child>p:last-of-type{
    font-size: 0.7rem;
    color: #8a8a8a;
 }
 #popup{
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 450px;
    background-color: #8a8a8af2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px #000000ab;
    
    
 }
 #popup p{
    padding-top: 35px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: justify;

 }
 #close-wrapper{
    position: absolute;
    padding: 5px 0;
    cursor: pointer;
 }
 #close-wrapper:hover{
    color: white;
 }
 #close-wrapper ion-icon{
    vertical-align: sub;
    margin-right: spx;
    background-color: red;
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.2rem;
 }
























